<section style="background-image: url('<%= background_image %>');"> 
    <div id='' class="section-title reveal <%= positions %>">
        <h1><%= title %></h1>
        <p>
            <% for(let el of text) {
                 if(el == '<br>') { %>
                    <br> 
            <%   } else { %>
                    <%= el %>
            <%   }
               } %>
        </p>
        <a><%= button_text %></a>
    </div>
</section>