<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('./style/style-preset') -%>
    <%- include('./style/style-header') -%>
    <%- include('./style/style-footer') -%>
    <% switch(page) {
        case 'home': %>
            <%- include('./homePage/style/style-home-page') %> 
            <% break
    } %>
</head>
<body>
    <%- include('./header') -%>