<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- SLICK STYLE CDN -->
    <% if(['Product', 'Collections'].includes(page)) { %>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <% } %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <title><%= page %></title>
    <%- include('./style/style-preset') -%>
    <%- include('./style/style-loading') %> 
    <%- include('./style/style-header') -%>
    <%- include('./style/style-sign-up') -%>
    <%- include('./style/style-hover-content') %> <!-- hover --> 
    <%- include('./style/style-footer') -%>
    <% switch(page) {
        case 'Home': %>
            <%- include('./homePage/style/style-home-page') %>
            <%- include('./style/style-arrivals') %>
            <% break
        case 'Catalog': %>
            <%- include('./catalogPage/style/style-catalog-page') %>
            <%- include('./style/style-size-picker') %>
            <%- include('./style/style-color-picker') %>
            <% break
        case 'Product': %>
            <%- include('./productPage/style/style-product-page') %>
            <%- include('./style/style-size-picker') %>
            <%- include('./style/style-color-picker') %>
            <%- include('./style/style-arrivals') %>
            <% break
        case 'Bag': %>
            <%- include('./bagPage/style/style-bag-page') %>
            <% break
        case 'Collections': %>
            <%- include('./collectionsPage/style/style-collections-page') %>
            <% break %>
    <% } %>
</head>
<body>
    <%- include('./loading') %> 
    <%- include('./header') -%>
    <%- include('./sign-up') -%>