<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page %></title>
    <%- include('./style/style-preset') -%>
    <%- include('./style/style-header') -%>
    <%- include('./style/style-footer') -%>
    <% switch(page) {
        case 'Home': %>
            <%- include('./homePage/style/style-home-page') %>
            <%- include('./style/style-arrivals') %>
            <% break
        case 'Catalog': %>
            <%- include('./catalogPage/style/style-catalog-page') %>
            <%- include('./style/style-size-picker') %>
            <%- include('./style/style-color-picker') %>
            <% break
        case 'Product': %>
            <%- include('./productPage/style/style-product-page') %>
            <%- include('./style/style-size-picker') %>
            <%- include('./style/style-color-picker') %>
            <%- include('./style/style-arrivals') %>
            <% break %>
    <% } %>
</head>
<body>
    <%- include('./header') -%>