<%- include('./components/htmlTop', {page: 'Catalog'}) %> 
    <main id="catalog-container">
        <button id='mobile-toggle-categories' class="toggle">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99994 0H6.99994V7H0V9H6.99994V16H8.99994V9H16V7H8.99994V0Z" fill="#000F08"/>
            </svg>
            <h3>REFINE ITEMS </h3>
        </button>
        <aside class="toggleable">
            <h2 class="aside-title">CATEGORIES</h2>
            <ul id='catalog-categories-list'>
                <li><button>TOPS</button></li>
                <li><button>TEES AND TANKS</button></li>
                <li><button>SHIRTS</button></li>
                <li><button>DRESSES</button></li>
                <li><button>JACKETS</button></li>
                <li><button>KNITWEAR</button></li>
                <li><button>JUMPSUITS</button></li>
                <li><button>BOTTOMS</button></li>
                <li><button>INTIMATES</button></li>
                <li><button>SHORTS</button></li>
                <li><button>JEANS</button></li>
                <li><button>SKIRTS</button></li>
                <li><button>SALE</button></li>
                <li><button>SHOP ALL</button></li>
            </ul>
    
            <h3 class="aside-title filter-title">FILTERS</h3>
            <ul id='catalog-filter-list'>
                <li>
                    <button id='title-size-filter' class="toggle">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H6V6H0V8H6V14H8V8H14V6H8V0Z" fill="#000F08"/>
                        </svg>
                        SIZE   
                    </button>
                    <%- include('./components/size-picker', {
                        sizes: ['S', 'M', 'L', 'XL'],
                        className: 'toggleable'
                    }) %>     
                </li>
                <li>
                    <button id='title-price-filter' class="toggle">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H6V6H0V8H6V14H8V8H14V6H8V0Z" fill="#000F08"/>
                        </svg>
                        PRICE    
                    </button>
                    <div id='price-picker' class="toggleable">
                        <input type="number" name="min_price" id="min-price" placeholder="Min. price" />
                        <input type="number" name="max_price" id="max-price" placeholder="Max. price" />
                    </div>        
                </li>
                <li>
                    <button id='title-color-filter' class="toggle">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H6V6H0V8H6V14H8V8H14V6H8V0Z" fill="#000F08"/>
                        </svg>
                        COLOR 
                    </button>
                    <%- include('./components/color-picker', {
                        colors: ['blue', 'brown', 'gray', 'red', 'green', 'pink'],
                        className: 'toggleable'
                    }) %>         
                </li>
                <li>
                    <button id='title-fabric-filter' class="toggle">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0H6V6H0V8H6V14H8V8H14V6H8V0Z" fill="#000F08"/>
                        </svg>
                        FABRIC    
                    </button>
                    <div id='fabric-picker' class="toggleable">
                        <% ['COTTOM', 'POLYESTER', 'ELASTANE', 'LUREX'].map(item => { %>
                            <label for="fabric_<%= item %>" class="picker">
                                <input type="radio" name="fabric" id="fabric_<%= item %>">
                                <p><%= item %></p>
                            </label>
                        <% }) %>
                    </div>       
                </li>
            </ul>
    
            <div id='sort-products-field'>
                <h3>SORT:</h3>
                <select name="" id="">
                    <option value="new" selected>NEWEST</option>
                    <option value="old">OLDEST</option>
                </select>
            </div>
        </aside>
        <section id='catalog'>
            <%- include('./components/catalogPage/catalog-item', {
                image: 'https://previews.123rf.com/images/indiraswork/indiraswork1608/indiraswork160800016/60704203-hot-summer-girl-beauty-sexy-lady-wear-fashion-dress-casual-clothes-party-date-time-model-woman-luxur.jpg',
                url: '/product',
                title: 'BLACK SPORT FOX BRALETTE adfasdfsadfa afsdfasdf',
                price: '99.00'
            }) %> 
            <%- include('./components/catalogPage/catalog-item', {
                image: 'https://previews.123rf.com/images/photosvit/photosvit1908/photosvit190801893/129245718-menswear-and-fashionable-clothing-daily-outfit-man-model-clothes-shop-man-looks-handsome-in-casual-s.jpg',
                url: '/product',
                title: 'PARADISE UTILITY JUMPSUIT',
                price: '179.00'
            }) %>
            <%- include('./components/catalogPage/catalog-item', {
                image: 'https://previews.123rf.com/images/panicattack/panicattack1702/panicattack170200014/71400768-young-male-fashion-model-in-casual-clothes-carrying-leather-jacket-over-shoulder-full-body-length-po.jpg',
                url: '/product',
                title: 'KHAKI LEGEND HIGH WAIST MOM JEAN',
                price: '150.00'
            }) %>
        </section>
    </main>
<%- include('./components/htmlBottom', {page: 'Catalog', hasFooter: true}) %> 