<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./components/style/style-preset') %>
    <%- include('./components/checkoutPage/style/style-checkout-page') %> 
    <title>Checkout</title>
</head>
<body>
    <main id="checkout-container">
        <a href="javascript:history.back()" id="checkout-return-button">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
                <g>
                    <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225   c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"/>
                </g>
            </svg>
        </a>
        <section id="checkout-form">
            <div id='checkout-progress'>
                <div id='shipping-step' class="step">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g> <g> <path d="M119.467,337.067c-28.237,0-51.2,22.963-51.2,51.2c0,28.237,22.963,51.2,51.2,51.2s51.2-22.963,51.2-51.2    C170.667,360.03,147.703,337.067,119.467,337.067z M119.467,422.4c-18.825,0-34.133-15.309-34.133-34.133    c0-18.825,15.309-34.133,34.133-34.133s34.133,15.309,34.133,34.133C153.6,407.091,138.291,422.4,119.467,422.4z"/> </g> </g> <g> <g> <path d="M409.6,337.067c-28.237,0-51.2,22.963-51.2,51.2c0,28.237,22.963,51.2,51.2,51.2c28.237,0,51.2-22.963,51.2-51.2    C460.8,360.03,437.837,337.067,409.6,337.067z M409.6,422.4c-18.825,0-34.133-15.309-34.133-34.133    c0-18.825,15.309-34.133,34.133-34.133c18.825,0,34.133,15.309,34.133,34.133C443.733,407.091,428.425,422.4,409.6,422.4z"/> </g> </g> <g> <g> <path d="M510.643,289.784l-76.8-119.467c-1.57-2.441-4.275-3.917-7.177-3.917H332.8c-4.719,0-8.533,3.823-8.533,8.533v213.333    c0,4.719,3.814,8.533,8.533,8.533h34.133v-17.067h-25.6V183.467h80.674l72.926,113.442v82.825h-42.667V396.8h51.2    c4.719,0,8.533-3.814,8.533-8.533V294.4C512,292.77,511.531,291.157,510.643,289.784z"/> </g> </g> <g> <g> <path d="M375.467,277.333V217.6h68.267v-17.067h-76.8c-4.719,0-8.533,3.823-8.533,8.533v76.8c0,4.719,3.814,8.533,8.533,8.533h128    v-17.067H375.467z"/> </g> </g> <g> <g> <path d="M332.8,106.667H8.533C3.823,106.667,0,110.49,0,115.2v273.067c0,4.719,3.823,8.533,8.533,8.533H76.8v-17.067H17.067v-256    h307.2v256H162.133V396.8H332.8c4.719,0,8.533-3.814,8.533-8.533V115.2C341.333,110.49,337.519,106.667,332.8,106.667z"/> </g> </g> <g> <g> <rect x="8.533" y="345.6" width="51.2" height="17.067"/> </g> </g> <g> <g> <rect x="179.2" y="345.6" width="145.067" height="17.067"/> </g> </g> <g> <g> <rect x="469.333" y="345.6" width="34.133" height="17.067"/> </g> </g> <g> <g> <rect x="34.133" y="140.8" width="298.667" height="17.067"/> </g> </g> <g> <g> <rect x="110.933" y="379.733" width="17.067" height="17.067"/> </g> </g> <g> <g> <rect x="401.067" y="379.733" width="17.067" height="17.067"/> </g> </g> <g> <g> <rect x="34.133" y="72.533" width="119.467" height="17.067"/> </g> </g> <g> <g> <rect y="72.533" width="17.067" height="17.067"/> </g> </g> </svg>
                    </i>
                    <span class="step-title">Shipping</span>
                </div>
                <hr>
                <div id='payment-step' class="step">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <g> <path d="M458.667,85.333H53.333C23.936,85.333,0,109.269,0,138.667v234.667c0,29.397,23.936,53.333,53.333,53.333h405.333    c29.397,0,53.333-23.936,53.333-53.333V138.667C512,109.269,488.064,85.333,458.667,85.333z M490.667,373.333    c0,17.643-14.357,32-32,32H53.333c-17.643,0-32-14.357-32-32V138.667c0-17.643,14.357-32,32-32h405.333c17.643,0,32,14.357,32,32    V373.333z"/> </g> </g> <g> <g> <path d="M501.333,149.333H10.667C4.779,149.333,0,154.112,0,160v64c0,5.888,4.779,10.667,10.667,10.667h490.667    c5.888,0,10.667-4.779,10.667-10.667v-64C512,154.112,507.221,149.333,501.333,149.333z M490.667,213.333H21.333v-42.667h469.333    V213.333z"/> </g> </g> <g> <g> <path d="M202.667,298.667h-128c-5.888,0-10.667,4.779-10.667,10.667S68.779,320,74.667,320h128    c5.888,0,10.667-4.779,10.667-10.667S208.555,298.667,202.667,298.667z"/> </g> </g> <g> <g> <path d="M202.667,341.333h-128C68.779,341.333,64,346.112,64,352c0,5.888,4.779,10.667,10.667,10.667h128    c5.888,0,10.667-4.779,10.667-10.667C213.333,346.112,208.555,341.333,202.667,341.333z"/> </g> </g> <g> <g> <path d="M416,277.333h-21.333c-17.643,0-32,14.357-32,32v21.333c0,17.643,14.357,32,32,32H416c17.643,0,32-14.357,32-32v-21.333    C448,291.691,433.643,277.333,416,277.333z M426.667,330.667c0,5.888-4.779,10.667-10.667,10.667h-21.333    c-5.888,0-10.667-4.779-10.667-10.667v-21.333c0-5.888,4.779-10.667,10.667-10.667H416c5.888,0,10.667,4.779,10.667,10.667    V330.667z"/> </g> </g></svg>
                    </i>
                    <span class="step-title">Payment</span>
                </div>
            </div>
            <div id="checkout-form-list">
                <form action="" id='shipping-form'>
                    <h1>Insert your shipping details</h1>
                    <fieldset id='shipping-cep-field'>
                        <label for="cep-input">CEP:</label>
                        <input name="cep" id="cep-input" placeholder="00000-000" maxlength="9" pattern="\d{5}-\d{3}">
                    </fieldset>
                    <fieldset>
                        <fieldset id='shipping-address-field'> 
                            <input type="text" name="street" id="street-input" placeholder="Street">
                            <input type="text" name="number" id="number-input" placeholder="Number" maxlength="15">
                        </fieldset>
                        <input type="text" name="complement" id="complement-input" placeholder="Complement (Optional)">
                        <input type="text" name="city" id='city-input' placeholder="City">
                        <select name="state" id="state-input">
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </fieldset>
                    
                    <fieldset class="checkout-button-field">
                        <button type="button" class='btn-checkout' id='btn-next-1'>NEXT</button>
                    </fieldset>
                </form>
                <form action="" id='payment-form'>
                    <h1>Payment details</h1>
                    <fieldset id='card-info-field-1'> 
                        <input type="text" name="card_name" id="card-name-input" placeholder="Name (Same as card)">
                        <input type="tel" name="card_number" id="card-number-input" placeholder="Card number" maxlength="19">
                    </fieldset>
                    <fieldset id='card-info-field-2'>
                        <select name="card_exp_month" id="card-month-exp">
                            <option value="" disabled selected hidden>MONTH EXP.</option>
                            <option value="JAN">JANUARY</option>
                            <option value="FEB">FEBRUARY</option>
                            <option value="MAR">MARCH</option>
                            <option value="APR">APRIL</option>
                            <option value="JUN">JUNE</option>
                            <option value="JUL">JULY</option>
                            <option value="AUG">AUGUST</option>
                            <option value="OCT">OCTOBER</option>
                            <option value="NOV">NOVEMBER</option>
                            <option value="DEC">DECEMBER</option>
                        </select>
                        <select name="card_exp_year" id="card-year-exp">
                            <option value="" disabled selected hidden>YEAR EXP.</option>
                            <% for(let i = new Date().getFullYear(); i <= new Date().getFullYear() + 10; i++) { %>
                                <option value="20<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                        <input type="tel" name="card_cvv" id="card-cvv" placeholder="CVV" maxlength="4">
                    </fieldset>
    
                    <fieldset class="checkout-button-field">
                        <button type="button" class="btn-checkout" id='btn-prev-1'>PREVIOUS</button>
                        <button type="button" class="btn-checkout" id='btn-final'>FINALIZAR</button>
                    </fieldset>
                </form>
            </div>
        </section>
        <aside id="checkout-info">
            <div id="checkout-items-list">
                <div class="checkout-item">
                    <div class="checkout-item-head">
                        <img src="https://previews.123rf.com/images/subbotina/subbotina1810/subbotina181000042/109456339-beauty-model-girl-posing-in-fashionable-clothes-.jpg" alt="img">
                        <h3>ITEM</h3>
                    </div>
                    <span>USD $100.00</span>
                </div>
                <div class="checkout-item">
                    <div class="checkout-item-head">
                        <img src="https://previews.123rf.com/images/subbotina/subbotina1810/subbotina181000042/109456339-beauty-model-girl-posing-in-fashionable-clothes-.jpg" alt="img">
                        <h3>ITEM</h3>
                    </div>
                    <span>USD $100.00</span>
                </div>
            </div>
            <div id="coupon-area">
                <input type="text" name="" id="coupon-input" placeholder="Discount">
                <button id='coupon-button'>Apply</button>
            </div>
            <div id='checkout-total'>
                <ul>
                    <li>
                        <h3>Subtotal</h3>
                        <span>USD $100.00</span>
                    </li>
                    <li>
                        <h3>Shipping</h3>
                        <span>USD $15.50</span>
                    </li>
                    <li>
                        <h3>Total</h3>
                        <span>USD $115.50</span>
                    </li>
                </ul>
            </div>
        </aside>
    </main>
<%- include('./components/htmlBottom', {page: 'Checkout', hasFooter: false}) %> 