<%- include('./components/htmlTop', {page: 'Collections'}) %>
    <main id="collection-container">
        <%- include('./components/collectionsPage/collection-box', {
            title: 'Collection 1',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga accusamus doloribus delectus, excepturi repudiandae beatae vero at nam unde libero assumenda! Ut',
            items: [
                {
                    url: '',
                    image_url: 'https://media.istockphoto.com/photos/fashion-pretty-woman-model-in-colorful-clothes-over-white-background-picture-id603862106',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://previews.123rf.com/images/panicattack/panicattack1702/panicattack170200014/71400768-young-male-fashion-model-in-casual-clothes-carrying-leather-jacket-over-shoulder-full-body-length-po.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://previews.123rf.com/images/korobkova/korobkova1507/korobkova150700048/42194237-beautiful-brunette-model-in-fashion-clothes-posing-in-studio-wearing-coat-handbag-red-shoes.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
            ]
        }) %>
        <%- include('./components/collectionsPage/collection-box', {
            title: 'Collection 2',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga accusamus doloribus delectus, excepturi repudiandae beatae vero at nam unde libero assumenda! Ut',
            items: [
                {
                    url: '',
                    image_url: 'https://media.istockphoto.com/photos/fashion-pretty-woman-model-in-colorful-clothes-over-white-background-picture-id603862106',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://previews.123rf.com/images/panicattack/panicattack1702/panicattack170200014/71400768-young-male-fashion-model-in-casual-clothes-carrying-leather-jacket-over-shoulder-full-body-length-po.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://previews.123rf.com/images/korobkova/korobkova1507/korobkova150700048/42194237-beautiful-brunette-model-in-fashion-clothes-posing-in-studio-wearing-coat-handbag-red-shoes.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
            ]
        }) %>
        <%- include('./components/collectionsPage/collection-box', {
            title: 'Collection 3',
            content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga accusamus doloribus delectus, excepturi repudiandae beatae vero at nam unde libero assumenda! Ut',
            items: [
                {
                    url: '',
                    image_url: 'https://media.istockphoto.com/photos/fashion-pretty-woman-model-in-colorful-clothes-over-white-background-picture-id603862106',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://previews.123rf.com/images/panicattack/panicattack1702/panicattack170200014/71400768-young-male-fashion-model-in-casual-clothes-carrying-leather-jacket-over-shoulder-full-body-length-po.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://previews.123rf.com/images/korobkova/korobkova1507/korobkova150700048/42194237-beautiful-brunette-model-in-fashion-clothes-posing-in-studio-wearing-coat-handbag-red-shoes.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
                {
                    url: '',
                    image_url: 'https://i.pinimg.com/originals/82/c5/74/82c57469c23ea2e22ab9dfe384b49afe.jpg',
                    title: 'Produto',
                    price: '150.50'
                },
            ]
        }) %>
    </main>
<%- include('./components/htmlBottom', {page: 'Collections', hasFooter: true}) %>