<%- include('./components/htmlTop', {page: 'Home'}) %> 
    <%- include('./components/homePage/section', {
        background_image: 'https://images.unsplash.com/photo-1497378571960-a65470d60969?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80',
        title: 'NEW COLLECTION',
        positions: 'left bottom',
        text: ['Our easiest chuck-on-and-go staples come with a serious style heritage', '<br>', 'that’s liberating, sexy, comfy and supremely cool.'],
        button_text: 'SHOP NEW ARRIVALS'
    }) %> 
    <%- include('./components/homePage/section', {
        background_image: 'images/mike-palmowski-VHcrw_MENoc-unsplash.jpg',
        title: 'VINTAGE INSPIRED',
        positions: 'left top',
        text: ['Inspired by the ‘70s and 80’s, we know that if you sift through', '<br>', 'our vintage inspired collection you’re gonna rock the perfect silhouette.'],
        button_text: 'SHOP NOW'
    }) %>
    <section id='section-photo-triple'>
        <div id='photo-triple'>
            <div class="photo-triple-item">
                <%- include('./components/hover-content', {
                    title: 'Roupa nova muito braba',
                    content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis error labore quae'
                }) %> 
                <img src='images/matthew-reyes-K6alnPrDWRY-unsplash.jpg' />
            </div>
            <div class="photo-triple-item">
                <%- include('./components/hover-content', {
                    title: 'Roupa nova muito braba',
                    content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis error labore quae'
                }) %>
                <img src='images/pexels-labskiii-6135785.jpg' />
            </div>
            <div class="photo-triple-item">
                <%- include('./components/hover-content', {
                    title: 'Roupa nova muito braba',
                    content: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis error labore quae'
                }) %>
                <img src='images/pexels-kevin-kabore-4966995.jpg' />
            </div>
        </div>
    </section>
    <%- include('./components/homePage/section', {
        background_image: 'https://images.unsplash.com/photo-1585774374371-a36f4a8c2578?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80',
        title: 'SUSTAINABLE DENIM',
        positions: 'left top',
        text: ['What started as a true ‘80s vintage pair of jeans,', '<br>', 'finished as a re-energised, wider leg vintage jean with versatile detailing.'],
        button_text: 'SHOP DENIM'
    }) %>
    <%- include('./components/arrivals', {
        title: 'NEW ARRIVALS',
        arrivals: [
            'images/autri-taheri-6h9scTr00Ls-unsplash.jpg',
            'images/clem-onojeghuo-YhgXfs80RJo-unsplash.jpg',
            'images/mark-adriane-bO3S03I2Aw8-unsplash.jpg',
            'images/matthew-reyes-gXCXqB9giWc-unsplash.jpg'
        ]
    }) %> 
    <%- include('./components/homePage/section', {
        background_image: 'images/pexels-daniel-adesina-833052.jpg',
        title: 'PRAY FOR ROCK',
        positions: 'bottom right',
        text: ['Beloved and forever relevant, there’s a convenience', '<br>', 'factor in a well-built pair of all-in-ones.'],
        button_text: 'SHOP COLLECTION'
    }) %>
    <section id='section-shop'>
        <div id="shop">
            <a href="/shop" id='shop-title-top'>
                <h3>
                    SHOP 
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.4822 11.5516L7.16058 0.200447C6.89401 -0.0668158 6.4665 -0.0668158 6.19993 0.200447C5.93336 0.46771 5.93336 0.89634 6.19993 1.1636L17.0387 12.0306L6.19993 22.8976C5.93336 23.1649 5.93336 23.5935 6.19993 23.8608C6.3307 23.9919 6.50673 24.0625 6.67774 24.0625C6.84874 24.0625 7.02478 23.9969 7.15555 23.8608L18.4772 12.5097C18.7437 12.2475 18.7437 11.8138 18.4822 11.5516Z" fill="#000F08"/>
                    </svg>
                </h3>
            </a>
            <a href="/product" class="shop-item" id="main-shop">
                <%- include('./components/hover-content', {
                    title: 'Teste',
                    content: 'ONASODFNAOSDNFOASNDFOANSDFON'
                }) %> 
                <img id="main-shop-photo" src='images/hisu-lee-i2JDnMDMYv8-unsplash.jpg' />
            </a>
            <a href="/product" class="shop-item">
                <%- include('./components/hover-content', {
                    title: 'Teste',
                    content: 'ONASODFNAOSDNFOASNDFOANSDFON'
                }) %> 
                <img class="shop-photo" src='images/seth-doyle-R5tHd-aYmPs-unsplash.jpg' />
            </a>
            <a href="/product" class="shop-item">
                <%- include('./components/hover-content', {
                    title: 'Teste',
                    content: 'ONASODFNAOSDNFOASNDFOANSDFON'
                }) %> 
                <img class="shop-photo" src='images/yogendra-singh-R73uOEn9tio-unsplash.jpg' />
            </a>
            <a href="/product" class="shop-item">
                <%- include('./components/hover-content', {
                    title: 'Teste',
                    content: 'ONASODFNAOSDNFOASNDFOANSDFON'
                }) %> 
                <img class="shop-photo" src='images/mubariz-mehdizadeh-o-wlIFT4zE4-unsplash.jpg' />
            </a>
            <a href="/product" class="shop-item">
                <%- include('./components/hover-content', {
                    title: 'Teste',
                    content: 'ONASODFNAOSDNFOASNDFOANSDFON'
                }) %> 
                <img class="shop-photo" src='images/sofia-3PgSkwoyIOM-unsplash.jpg' />
            </a>
            <h3 id='shop-title-bottom'>#BACULEJOS</h3>
        </div>
    </section>
<%- include('./components/htmlBottom', {page: 'Home', hasFooter: true}) %> 