<%- include('./components/htmlTop', {page: 'Product'}) %> 
    <main>
        <section id="product-buy">
            <div id='product-photo-field'>
                <img class='product-photo' src="https://previews.123rf.com/images/tylero/tylero1602/tylero160200041/52301353-black-fashion-model-wearing-stylish-wardrobe-clothes-and-accessories.jpg">
                <img class='product-photo' src="https://media.istockphoto.com/photos/fashion-pretty-woman-model-in-colorful-clothes-over-white-background-picture-id603862106">
            </div>
            <aside>
                <h2>CHALK SAINTS BOYFRIEND</h2>
                <div id='product-header-info'>
                    <h4>USD $300.00</h4>
                    <span id='pre-order-title'>PRE-ORDER</span>
                </div>
        
                <div id='product-color-field'>
                    <span class='product-header-title'>COLOR</span>
                    <%- include('./components/color-picker', {
                        colors: ['blue', 'brown', 'gray', 'red'],
                        className: ''
                    }) %> 
                </div>
                <div id='product-size-field'>
                    <span class='product-header-title'>SIZE</span>
                    <%- include('./components/size-picker', {
                        sizes: ['S', 'M', 'L', 'XL'],
                        className: ''
                    }) %>
                </div>
                <div id='product-buy-field'>
                    <button>ADD TO BAG</button>
                    <button>
                        <svg width="37" height="32" viewBox="0 0 37 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.5847 2.97082C31.6715 1.06487 29.1387 0.0231494 26.4355 0.0231494C23.7324 0.0231494 21.1918 1.07258 19.2787 2.97854L18.2795 3.97396L17.2648 2.96311C15.3517 1.05715 12.8034 0 10.1002 0C7.40477 0 4.86424 1.04943 2.95884 2.94767C1.04569 4.85363 -0.00770312 7.38462 4.24124e-05 10.0776C4.24124e-05 12.7707 1.06118 15.2939 2.97433 17.1999L17.5204 31.6913C17.7218 31.892 17.9929 32 18.2563 32C18.5196 32 18.7907 31.8997 18.9921 31.6991L33.5692 17.2308C35.4823 15.3248 36.5357 12.7938 36.5357 10.1008C36.5435 7.40776 35.4978 4.87678 33.5847 2.97082ZM32.0975 15.7569L18.2563 29.4922L4.44598 15.7338C2.92785 14.2214 2.09134 12.2151 2.09134 10.0776C2.09134 7.9402 2.92011 5.93393 4.43823 4.42923C5.94861 2.92452 7.96245 2.09115 10.1002 2.09115C12.2457 2.09115 14.2673 2.92452 15.7854 4.43694L17.5359 6.18085C17.9464 6.58982 18.6048 6.58982 19.0153 6.18085L20.7503 4.45237C22.2684 2.93996 24.29 2.10658 26.4278 2.10658C28.5656 2.10658 30.5794 2.93996 32.0975 4.44466C33.6157 5.95708 34.4444 7.96335 34.4444 10.1008C34.4522 12.2382 33.6157 14.2445 32.0975 15.7569Z" fill="white"/>
                        </svg>
                    </button>
                </div>
                <ul id='product-info'>
                    <li>
                        <button class="toggle">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 8V14H8V8H14V6H8V0H6V6H0V8H6Z" fill="#000F08"/>
                            </svg>
                            PRODUCT DESCRIPTION  
                        </button>
                        <p class='product-info-text toggleable'>
                            Saints are a low-waist, drop crotch relaxed boyfriend jean. Straight fit across the hips, bow shape legs, with knee darts and tapered leg. Back pockets dropped slightly for slouch feel. 
                        </p>            
                    </li>
                    <li>
                        <button class="toggle">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 8V14H8V8H14V6H8V0H6V6H0V8H6Z" fill="#000F08"/>
                            </svg>
                            FABRIC COMPOSITION
                        </button>
                        <p class='product-info-text toggleable'>
                            Saints are a low-waist, drop crotch relaxed boyfriend jean. Straight fit across the hips, bow shape legs, with knee darts and tapered leg. Back pockets dropped slightly for slouch feel. 
                        </p>
                    </li>
                    <svg id="arrow-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;" xml:space="preserve">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751   c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0   c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                        </g>
                    </svg>
                </ul>
            </aside>
        </section>
        <section id='product-extra'>
            <div id='extra-0'><h1 id='product-extra-items-title'>Complete <br> the look</h1></div>
            <div id='product-extra-items'>
                <img src="https://image.freepik.com/free-photo/portrait-handsome-smiling-man-wearing-summer-jeans-clothes-model-male-taking-picture-old-vintage-photo-camera_158538-5041.jpg" alt="" class="extra-item">
                <img src="https://images.pexels.com/photos/1926769/pexels-photo-1926769.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" class="extra-item">
            </div>
        </section>
        <%- include('./components/arrivals', {
            title: 'YOU MAY ALSO LIKE',
            arrivals: [
                'images/autri-taheri-6h9scTr00Ls-unsplash.jpg',
                'images/clem-onojeghuo-YhgXfs80RJo-unsplash.jpg',
                'images/mark-adriane-bO3S03I2Aw8-unsplash.jpg',
                'images/matthew-reyes-gXCXqB9giWc-unsplash.jpg'
            ]
        }) %> 
    </main>
<%- include('./components/htmlBottom', {page: 'Product', hasFooter: true}) %> 