 <div class="collection-box">
    <h1><%= title %></h1>
    <p><%= content %></p>
    <div class="collection">
        <% items.map(function(item) { %>
            <a href="/product" class='collection-item'>
                <div class='collection-item-field'>
                    <div class='collection-item-info'>
                        <h3><%= item.title %></h3>
                        <h4><strong>USD $<%= item.price %></strong></h4>
                    </div>
                    <img src="<%= item.image_url %>" alt="img">
                </div>
            </a>
        <% }) %>
    </div>
</div>